{% extends 'flinder/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Welcome
{% endblock %}

{% block body_block %}
    <div class="jumbotron text-center my-5">
        <div class="container-fluid position-absolute top-50 translate-middle-y">
            <h1 class="jumbotron-heading my-5">Login to Flinder</h1>
            <p class="my-2">
                <a class="btn btn-primary my-1" href="{%  url 'flinder:login'  %}">
                    Sign in
                </a> <br/>
                <a class="btn btn-outline-secondary my-1" href="#">
                    Sign in with Google
                </a>
            </p>
            <p class="my-3">
                <span class="text-muted">New to flinder? Register here: </span><br/>
                <a class="btn btn-outline-secondary my-2" href="{%  url 'flinder:register'  %}">
                    Register
                </a>
            <p/>
        </div>
    </div>
{% endblock %}