{% extends 'flinder/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <div class="jumbotron text-center my-5">
        <div class="container-fluid position-absolute top-50 start-50 translate-middle">
            <h1 class="jumbotron-heading my-5">Login to Flinder</h1>
            <form id="login_form" method="post" action="{% url 'flinder:login' %}">
                {% csrf_token %}
                <label class="my-1">
                    <span class="float-start my-1">Username:</span><br/>
                    <input type="text" name="username" value="" size="50"/>
                </label>
                <br />
                <label class="my-1">
                    <span class="float-start my-1">Password:</span><br/>
                    <input type="password" name="password" value="" size="50"/>
                </label>
                <br />
                <input class="btn btn-primary my-1" type="submit" value="Login"/>
            </form>
        </div>
    </div>
{% endblock %}