{% extends 'flinder/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block nav_block %}
    <!-- TODO: Add button to profile edit page -->
{% endblock %}

<!-- This is used to center the content vertically -->
{% block main_class %} my-auto {% endblock %}

{% block body_block %}
    <div class="container grid">
        <div class="col">
            <h1>
                Your Matches
            </h1>
            <div id="matches-container">

            </div>
        </div>
        <div class="col">
            <div class="swiper match-swiper">
                <div class="swiper-wrapper">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        const apiURL = "{% url 'flinder:get_matches' %}"
        let matches = [];
        const swiper = new Swiper(".match-swiper", {
            grabCursor: true,
            preloadImages: false,
            lazy: true,
            initialSlide: 0,
            longSwipes: false,
            loop:true,
            effect: "creative",
            creativeEffect: {
                prev: {
                    shadow: true,
                    translate: ["-125%", 0, -800],
                    rotate: [0, 0, -20]
                },
                next: {
                    shadow: true,
                    translate: ["125%", 0, -800],
                    rotate: [0, 0, 20]
                }
            }
        });

        loadMore = ()=>{
            fetch(apiURL).then((d)=>{
                d.json().then((data)=>{
                    matches.push(...data);
                });
        })};
    </script>
{% endblock %}
