{% extends 'flinder/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block nav_block %}
    <div class="container d-flex justify-content-between"></div>
    <a class="btn-outline-secondary btn px-3 py-2 m-auto float-right" href="{% url "flinder:edit_profile" %}">
        <i class="fa-solid fa-user"></i>
    </a>
{% endblock %}

<!-- This is used to center the content vertically -->
{% block main_class %} my-auto {% endblock %}

{% block body_block %}
    <div class="container grid">
        <div class="col">
            <h1 class="my-5">
                Your Matches
            </h1>
            <div id="matches-container" class="container">
            
            </div>
        </div>
        <div class="col">
            <div class="swiper match-swiper">
                <div class="swiper-wrapper">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="static/js/swiper.js"></script>
    <script>
        const apiURLCards = "{% url 'flinder:get_cards' %}"
        let cardsJson = [];
        const swiper = new Swiper(".match-swiper", {
            grabCursor: true,
            preloadImages: false,
            lazy: true,
            initialSlide: 0,
            longSwipes: false,
            loop:true,
            effect: "creative",
            creativeEffect: {
                prev: {
                    shadow: true,
                    translate: ["-125%", 0, -800],
                    rotate: [0, 0, -20]
                },
                next: {
                    shadow: true,
                    translate: ["125%", 0, -800],
                    rotate: [0, 0, 20]
                }
            }
        });

        loadMoreCards = ()=>{
            return fetch(apiURLCards).then((d)=>{
                return d.json().then((data)=>{
                    cardsJson.push(...data);
                });
        })};
    </script>
    <script>
        const apiURLMatches = "{% url 'flinder:get_matches' %}";
        let matches = [];
        loadMoreMatches = ()=>{
            return fetch(apiURLMatches).then((d)=>{
                return d.json().then((data)=>{
                    matches.push(...data);
                });
        })};

        appendMatchesToDom = ()=>{
            const matchesRoot = document.getElementById("matches-container");
            for(let i = 0; i < matches.length; i++){
                const container = document.createElement("div");
                const textContainer = document.createElement("div");
                const imageContainer = document.createElement("div");
                const title = document.createElement("h3");
                const subtitle = document.createElement("p");
                const image = document.createElement("img");
                const link = document.createElement("a");

                container.appendChild(imageContainer);
                container.appendChild(textContainer);
                imageContainer.appendChild(image);
                textContainer.appendChild(title);
                textContainer.appendChild(subtitle);
                textContainer.appendChild(link);

                title.innerHTML = matches[i].name;
                subtitle.innerHTML = matches[i].subtitle;
                image.src = matches[i].photo;
                link.href = matches[i].url;

                container.className = "row align-items-center position-relative my-2";
                textContainer.className = "col";
                imageContainer.className = "image-thumbnail p-0 mx-3";
                image.className = "rounded-circle";
                title.className = "row";
                subtitle.className = "row";
                link.className = "stretched-link";

                matchesRoot.appendChild(container);
            }
        }

        loadMoreMatches().then(appendMatchesToDom);


    </script>
{% endblock %}
