{% extends 'flinder/base.html' %}
{% load staticfiles %}

{% load crispy_forms_tags %}

{% block title_block %}
    Register Looking to Fill a Room
{% endblock %}

{% block nav_block %}

{% endblock %}

{% block header_block %}
    <div class="container justify-content-between">
        <h1 class="jumbotron-heading my-4 col-12 col-md-6">Create your account</h1>
    </div>
{% endblock %}

<!-- This is used to center the content vertically -->
{% block main_class %} my-auto {% endblock %}

{% block bg_class %} bg-dark text-white {% endblock %}

{% block body_block %}
    <div class="my-5">
        <div class="col-11 col-sm-5 col-lg-3 col-xxl-2 container">
            <h2 class="my-3">Your details</h2>
            <form id="login_form" method="post" action="{% url 'flinder:register_room_provider' %}">
                {% csrf_token %}
                {{ room_provider_form|crispy }}
                <input class="btn btn-primary my-1 row" type="submit" value="Login"/>
            </form>
        </div>
    </div>
{% endblock %}