{% extends 'flinder/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block nav_block %}
    <div>
        <h1 class="jumbotron-heading my-4">Create your account</h1>
        <span class="">Are you looking to find a room to stay in? Or are you looking for a flatmate to fill a room?</span>
    </div>
{% endblock %}

<!-- This is used to center the content vertically -->
{% block main_class %} my-auto {% endblock %}

{% block bg_class %} bg-dark text-white {% endblock %}

{% block body_block %}
    <div class="text-center my-5">
        <div class="container-fluid position-absolute top-50 start-50 translate-middle">
            <h5 class="jumbotron-heading my-3">Create your account</h5>
            <form id="login_form" method="post" action="{% url 'flinder:login' %}">
                {% csrf_token %}
                <label class="my-1">
                    <span class="float-start my-1">Username:</span><br/>
                    <input type="text" name="username" value="" size="50"/>
                </label>
                <br />
                <label class="my-1">
                    <span class="float-start my-1">Password:</span><br/>
                    <input type="password" name="password" value="" size="50"/>
                </label>
                <br />
                <input class="btn btn-primary my-1" type="submit" value="Continue"/>
            </form>
        </div>
    </div>
{% endblock %}