{% extends 'flinder/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register Looking For a Room
{% endblock %}

{% block header_block %}
    <div class="container justify-content-between">
        <h1 class="jumbotron-heading my-4 col-12 col-md-6">Upload photos</h1>
    </div>
{% endblock %}

<!-- This is used to center the content vertically -->
{% block main_class %} my-auto {% endblock %}

<!-- This is used to set the body background -->
{% block bg_class %} bg-dark text-white {% endblock %}

{% block body_block %}
    <div class="container-fluid row">
        <div class="my-5 mx-2 col-md">
            <!--<input type="file" id="image-upload" class="form-control" onchange="updateImage(this);" style="display: none">-->
            {#            <div class="image-upload-box rounded" ondragover="return false;" ondrop="updateImage(event)" onclick="openFileBrowser()">#}
            {#                <div class="text-center h1 lh-100">+</div>#}
            {#            </div>#}
            <form action="{% url 'flinder:upload_photos' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="img" type="file">
                <button class="btn btn-primary w-auto my-1" type="submit">Upload</button>
            </form>
            <img style="width: 100%" src="{{ imgs }}"/>
            <h1>{{ msg }}</h1>
        </div>
        <div class="my-5 mx-2 col-md container-fluid flex-column">
            <div class="row" id="image-preview-container">

            </div>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script>
        function updateImage(event) {
            if (event.dataTransfer.items && event.dataTransfer.items[0]) {
                event.preventDefault();
                const reader = new FileReader();

                reader.onload = function (e) {
                    const div = document.createElement("div");
                    //const img = document.createElement("img");
                    //img.setAttribute('src', e.target.result);
                    //img.setAttribute("class", "w-100 image-upload-box rounded-pill");
                    //div.appendChild(img);
                    div.setAttribute("class", "col-12 col-md-6 col-s-4 image-preview m-2");
                    div.setAttribute("style", "background-image: url(\"" + e.target.result + "\")");
                    document.getElementById('image-preview-container').appendChild(div);
                };
                reader.readAsDataURL(event.dataTransfer.items[0].getAsFile());
            }
        }

        function openFileBrowser() {
            console.log("This will do something");
        }
    </script>
{% endblock %}