{% extends 'flinder/base.html' %}
{% load crispy_forms_filters %}
{% load staticfiles %}

{% block title_block %}
    Register Looking For a Room
{% endblock %}

{% block header_block %}
    <div class="container justify-content-between">
        <h1 class="jumbotron-heading my-4 col-12 col-md-6">Upload photos</h1>
    </div>
{% endblock %}

<!-- This is used to center the content vertically -->
{% block main_class %} my-auto {% endblock %}

<!-- This is used to set the body background -->
{% block bg_class %} bg-dark text-white {% endblock %}

{% block body_block %}
    <div class="container-fluid row">
        <div class="my-5 mx-2 col-md">
            <div class="image-upload-box rounded-3 d-flex justify-content-center align-items-center" ondragover="return false;" ondrop="updateImage(event)" onclick="openFileBrowser()"></div>
        </div>
        <div class="my-5 mx-2 col-md container-fluid flex-column">
            <div class="row" id="image-preview-container">

            </div>
        </div>
        <form id="image-form" method="post" action="{% url 'flinder:upload_photos' %}">
            {% csrf_token %}
            <input class="image-input-empty hidden" type="image" alt=""/>
            <div class="row justify-content-center">
                <input class="btn btn-primary w-auto my-1" type="submit" value="Continue"/>
            </div>
        </form>
    </div>
{% endblock %}

{% block script_block %}
    <script>
        function updateImage(event) {
            if (event.dataTransfer.items) {
                event.preventDefault();
                const imageForm = document.getElementById("image-form");
                for (let item of event.dataTransfer.items) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        const div = document.createElement("div");
                        div.setAttribute("class", "col-12 col-md-6 col-s-4 rounded-3 image-preview m-2");
                        div.setAttribute("style", "background-image: url(\"" + e.target.result + "\")");
                        document.getElementById('image-preview-container').appendChild(div);
                    };
                    reader.readAsDataURL(item.getAsFile());

                    const inp = document.getElementById("image-input-empty");
                    inp.value = item;
                    inp.className = "image-input-full hidden";

                    const next = document.createElement("input");
                    next.type = "image";
                    next.alt = "";
                    next.className = "image-input-empty hidden";
                    imageForm.appendChild(next);
                }
            }
        }

        function openFileBrowser() {
            document.getElementById("image-input-empty").click();
        }
    </script>
{% endblock %}